<div class="container">
    <img class="logo" [src]="logo" alt="logo" width="10%" height="90%">
    <div class="loction ">
        <em class="fa-solid fa-location-dot"></em><p>BANGALORE</p>
    </div>
    <div class="search">
        <em id="searchicon" type="submit" class="fa-solid fa-magnifying-glass"></em>
        <input class="seartext" type="search" placeholder="Search" name="search" id="search">
    </div>
    <div class="login">
        <button class="login-btn">
UserName</button>
        
    </div>
    <div class="seller">
        <button type="button" class="seller w-12 ml-3 ">Become a Seller</button>
    </div>
    <div class="cart">
        <button class="cart-btn" type="button"><em class="fa-solid fa-cart-shopping fa-fade"></em><span class="carttxt">Cart</span></button>
    </div>


    

</div>
